*{
    background-color: skyblue;
}
.conteudo{
    border:skyblue solid 10px;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 350px;
    margin: auto;
}