*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.head-container{
    background-color: rgb(40,100,240);
    display: flex;
    height: 80px;
    width: auto;
    justify-content: space-around;
    align-items: center;
}

.links{
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.links-list{
    color: white;
}
.item-list{
    font-size: 25px;
    display: inline-block;
    margin:15px;
    padding: 15px;
}
a{
    text-decoration: none;
    color:white
}
.item-list:hover{
    font-size: 35px;
}
.main-container{
    display: flex;
    background-color: whitesmoke;
    height: auto;
    width: 100%;
    align-items: center;
    justify-items:center;
}
.photo-frame{
    height: 150px;
    width:  150px;
}
.photo{
    border-radius: 40px;
    height: 200px;
    width: 200px;
}
.footer-container{
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    background-color: rgb(70,130,220);
    color:white;
}
.sign-in{
    display: flex;
    align-items: center;
}