*{
    background-color: greenyellow;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.contact-info{
    position: relative;
    top:200px;
    width: 50%;
    height: 10%;
    margin: 0 auto;
}
.social-list{
    width: 100%;
    height:100% ;
    list-style: none;
}
.social-item{
    color: black;
}